<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="FolderToMonitor" value="F:\SqlData\BackUp\CallBiz" />
    <add key="BucketName" value="callbizbackup" />
    <add key="AccessKey" value="AKIAWIOMY3I3QSXMWPRY" />
    <add key="SecretKey" value="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" />
    <add key="S3KeyPrefix" value="CallBiz" />
    <add key="Extensions" value=".trn,.bak" />
    <add key="IsDeleteMode" value="1" />
    <add key="IsVerbose" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>